<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="/css/phone.css">
</head>
<body>
    <form action="/konfirmasi" method="post">
        <input type="text" hidden name="id" value="{{ id }}">
        <button name="ket" value="datang">Datang</button>
        <button name="ket" value="pulang">Pulang</button>
    </form>
</body>
</html>